@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Seccion1-->
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Manager resources human</h1>
            <br />
            <p class="lead">
                Mejorar la eficiencia operativa, garantizar la precisión en los procesos 
                administrativos y proporcionar datos útiles para la toma de decisiones 
                estratégicas relacionadas con el capital humano.
            </p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="img/ilustration1.webp" alt="" width="720">
        </div>
    </div>
</div>
<!--Seccion1-->

<!--Seccion2-->
<div class="container px-4 py-5" id="featured-3">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col bg-pastel-pink rounded-3 p-4">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Gestión de empleados</h3>
            <p>Gestione el registro de empleados</p>
            <a href="#" class="icon-link">
                Más información
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col bg-pastel-green rounded-3 p-4">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Nómina</h3>
            <p>Administra nómina de los empleados.</p>
            <a href="#" class="icon-link">
                Más información
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col bg-pastel-blue rounded-3 p-4">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Beneficios</h3>
            <p>Gestiona los beneficios y bonificaciones.</p>
            <a href="#" class="icon-link">
                Más información
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
</div>
<!--Seccion2-->
